name: nix-build-on-demand-docker
on:
  workflow_dispatch:
    inputs:
      environmentName:
        description: Environment name that stores configuration.nix
        required: true
        default: default
      
jobs:
  build-default-image:
    name: Build default image
    if: ${{ github.event.inputs.environmentName == 'default' }}
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3.2.0
    - uses: cachix/install-nix-action@v12
      with:
        nix_path: nixpkgs=channel:nixos-20.09
        extra_nix_config: |
          extra-platforms = aarch64-linux
    - name: Check nix.conf
      run: cat /etc/nix/nix.conf
    - name: Register binfmt
      run: |
        docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
    - name: Test binfmt availability
      run: |
        cat /proc/sys/fs/binfmt_misc/qemu-aarch64
    - name: Build SD Image
      run: |
        nix-build '<nixpkgs/nixos>'  \
          -A config.system.build.sdImage \
          -I nixos-config=./configuration.default.sdImage.nix \
          --argstr system aarch64-linux \
          --option sandbox false
    - uses: actions/upload-artifact@v2
      with:
        name: sd-image.img
        path: ./result/sd-image/*.img*

  build-custom-image:
    name: Build custom image
    if: ${{ github.event.inputs.environmentName != 'default' }}
    runs-on: ubuntu-20.04
    environment:
      name: ${{ github.event.inputs.environmentName }}
    steps:
    - uses: actions/checkout@v3.2.0
    - uses: cachix/install-nix-action@v12
      with:
        nix_path: nixpkgs=channel:nixos-20.09
        extra_nix_config: |
          extra-platforms = aarch64-linux
    - name: Check nix.conf
      run: cat /etc/nix/nix.conf
    - name: Register binfmt
      run: |
        docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
    - name: Test binfmt availability
      run: |
        cat /proc/sys/fs/binfmt_misc/qemu-aarch64
    - name: Extract configuration from secrets
      run: |
        cat << EOF >> configuration.custom.sdImage.nix
        ${{ secrets.CONFIGURATION_NIX }}
        EOF
    - name: Build SD Image
      run: |
        nix-build '<nixpkgs/nixos>'  \
          -A config.system.build.sdImage \
          -I nixos-config=./configuration.custom.sdImage.nix \
          --argstr system aarch64-linux \
          --option sandbox false
    - uses: actions/upload-artifact@v2
      with:
        name: sd-image.img
        path: ./result/sd-image/*.img*